<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevisoftApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RevisoftApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <applicationSettings>
        <RevisoftApplication.Properties.Settings>
            <setting name="RevisoftWebSite" serializeAs="String">
                <value>http://www.revisoft.it</value>
            </setting>
            <setting name="RevisoftWebProceduraRevisione" serializeAs="String">
                <value>http://www.revisoft.it/download/LA PROCEDURA DI REVISIONE.pdf</value>
            </setting>
            <setting name="RevisoftApplicationGuide" serializeAs="String">
                <value>C:\temp\DocRevisoft\GuidaRevisoft\GuidaRevisoft.pdf</value>
            </setting>
            <setting name="RevisoftUrlAttivazione" serializeAs="String">
                <value>http://www.revisoft.it/AreaRiservata.aspx</value>
            </setting>
            <setting name="RevisoftDocRevisione" serializeAs="String">
                <value>http://www.revisoft.it/documenti-revisione</value>
            </setting>
            <setting name="RevisoftDocVigilanza" serializeAs="String">
                <value>http://www.revisoft.it/documenti-vigilanza</value>
            </setting>
            <setting name="RevisoftApplication_it_revisoft_ws_revisoftWS"
                serializeAs="String">
                <value>http://ws.revisoft.it/revisoft.asmx</value>
            </setting>
        </RevisoftApplication.Properties.Settings>
    </applicationSettings>
 
    <userSettings>
        <RevisoftApplication.Properties.Settings>
            <setting name="UseWord" serializeAs="String">
                <value>True</value>
            </setting>
        </RevisoftApplication.Properties.Settings>
    </userSettings>
</configuration>